//Rem Mixin
@mixin remS($pxSize) {
	font-size: $pxSize;
	font-size: $pxSize / $em-base * 1rem;
}

* {
  position: relative;
  -webkit-font-smoothing: subpixel-antialiased;
}
.countdown-filter{
	border-bottom: 1px solid $primary-color;
	font-size: emCalc(36px);
	@include clearfix();
	.columns{
		padding: emCalc(10px);
	}
	input{
		background: transparent;
		border: none;
		width: 100%;
		&:focus{
			box-shadow: none;
			border: none;
			outline: 0;
		}
	}
	.search{
		text-align: center;
	}
}
.countdown-holster {
	> div {
		padding: 2.5% !important;
		text-transform: uppercase;
	}
	@include clearfix();
}

.count-down-bars {
	@include clearfix();
	&.row{
		margin: emCalc(40px) auto;
		width: 95%;
	}
	.bar {
	 	height: 10px;
	 	margin-top: 5px;
	 	position: relative;
		width: auto;
		z-index: 999;
		@include opacity(0.8);
		@include transition(0.4s);
		&:hover {
			height: 40px;
			@include opacity(1);
			@include transition(0.4s);
		}
		&:first-child {
			margin-top: 0;
		}
		.start-date,
		.end-date{
			position: absolute;
		}
		.start-date{
			left: 0;
		}
		.end-date{
			right: 0;
		}
	}
	#today,
	#oldest,
	#latest,
	.milestone {
		border-left: 1px dashed gray;
		position: absolute;
		height: 100%;
		top: 0;
		width: 0px;
	}
	.milestone {
		border: none;
		span{
			border: none;
		}
	}
	.date {
		color: #222;
		font-weight: bold;
		left: 50%;
		margin-left: -50px;
		position: absolute;
		text-align: center;
		top: -14px;
		width: 100px;
		@include remS(10px);
	}
}

p {
	margin: 0;
	padding: 0;
}